.main{
    margin-top:10px;
}

.contact{
    margin-top:20px;
    font-size:20px;
    color:RosyBrown;
    font-weight:bold;
}
.btn-kle{
    background: color #fffff0;;
    color:#222222;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:6px;
    padding-right:6px;
    border-radius:8px;
    border:1px solid rosybrown;
}
body{
    background:beige;

    img{
        margin-top:0px;
        width:200px;
        height:auto;
    }

    p{
        font-size:20px;
        color:RosyBrown;
        font-weight:bold;
    }

}