.main{
    margin-top:10px;
}

.contact{
    margin-top:20px;
    font-size:20px;
    color:RosyBrown;
    font-weight:bold;
}
body{
    background:beige;

    img{
        margin-top:0px;
        width:200px;
        height:auto;
    }

    p{
        font-size:20px;
        color:RosyBrown;
        font-weight:bold;
    }

}